<!--The content below is only a placeholder and can be replaced.-->

<app-nav class="mb-4"></app-nav>

<div class="container h-100 d-flex flex-column">
  <div class="row flex-auto" style="overflow-y: auto">
    <div class="col d-flex">
      <app-camera (image)="updateImage($event)"></app-camera>
    </div>
    <div class="col d-flex flex-column">
      <form class="flex-auto" [formGroup]="documentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-control-label">Title</label>
          <input class="form-control" formControlName="Title"/>
        </div>
        <div class="form-group">
          <label class="form-control-label">Name</label>
          <input class="form-control" formControlName="Name"/>
        </div>
        <div class="form-group">
          <label class="form-control-label">Surname</label>
          <input class="form-control" formControlName="Surname"/>
        </div>
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input class="form-control" formControlName="Email"/>
        </div>

        <button class="btn btn-primary flex-auto">
          <span *ngIf="!(busy$ | async)">Submit</span>
          <span *ngIf="busy$ | async">Rendering...</span>
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="docId" class="row">
    <div class="col d-flex my-5 p-3 justify-content-center">
      <button class="btn btn-primary" (click)="downloadDoc()">
        <h3>Your employee tag is ready</h3>
      </button>
    </div>
  </div>
</div>